.DeployAssetConfirmPopup__icon_name_block {
  display: flex;
  flex-direction: row;
}

.DeployAssetConfirmPopup__data {
  margin-top: 5px;
  word-break: break-word;
  color: var(--text-color);
  font-weight: 500;
}
